.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #f4eff6;
}

.container-home {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    text-align: center;
    color: #11323C;
}

img {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero {
    display: block;
    margin: 0;
}

.copy {
    background-color: #f4eff6;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.copy-home {
    background-color: white;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
  }

  .center-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 25pt;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100; 
}

a {
    text-decoration: none;
    color: black;
}

  .header-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: flex-end;
    background-color: white;
  }

  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    align-self: flex-end;
  }
  
  .nav-list a {
    display: inline-block;
    justify-content: space-between;
    padding: 0 25px 50px 0;
    align-self: flex-end;
  }
